/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-gap:10px 20px;
	grid-template-rows:124px 124px 124px 124px 124px;
	grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
	font-size:4vw;
	color:white;
}
#grid div{ 
	display:flex;
	justify-content:space-between;
	background-color:rgb(0, 128, 0);

}

#grid div:nth-child(1){
	grid-column: span 4 / auto;
	background-color: rgb(0, 128, 0);
}
#grid div:nth-child(2){
	grid-row: span 4 / auto;
	background-color: rgb(0, 128, 0);
}

#grid > div:nth-child(4),
#grid > div:nth-child(5){
	grid-column: span 2 / auto;
	background-color: rgb(0, 128, 0);
}

#grid div:nth-child(10){
	grid-row: span 3 / auto;
	background-color: rgb(0, 128, 0);
}


#grid > div:nth-child(10){
	grid-column: span 3 / auto;
	background-color: rgb(0, 128, 0);
}